body {
    font-size: 16px;
    background-color: black;
    color: white;
    font-family: 'Oxygen', sans-serif;
}


/** HEADER **/
.navbar-brand span { 
    vertical-align: middle;
}

.navbar-default {
    padding: 30px;
}

span {
    margin-top: 0;
}

#collapsable-nav {
    background-color: #d399ef;
    color: black;
    text-align: center;
}

.navbar-brand {
    position: absolute;
    height: 30px;
    margin: 0;
}

#main-content {
    padding: 10px;
}

.container-fluid {
    color: black;
    position: relative;
    margin: 30px;
}

#nav-list {
    color: white;
}


span.visible-xs:hover {
    background-color: #b759e3;
}



h1.text-center {
    margin: 20px;
}

#chicken,
#beef,
#sushi {
    background-color: #c3cc41;
    border: solid white;
    padding: 20px;
    margin: 10px;
}


.visible-xs.span {
    font-size: 1.4em;
    padding: 10px;
}

span {
    font-size: 2em;
}

p {
    color: black;
    margin: 0;
}
